<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hui.userbackend.mapper.UnitTargetConfigMapper">

    <resultMap id="BaseResultMap" type="com.hui.userbackend.model.domain.UnitTargetConfig">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="unitId" column="unit_id" jdbcType="BIGINT"/>
            <result property="targetGender" column="target_gender" jdbcType="VARCHAR"/>
            <result property="targetAge" column="target_age" jdbcType="VARCHAR"/>
            <result property="targetCity" column="target_city" jdbcType="VARCHAR"/>
            <result property="targetDevice" column="target_device" jdbcType="VARCHAR"/>
            <result property="industryInterestTarget" column="industry_interest_target" jdbcType="VARCHAR"/>
            <result property="crowdTarget" column="crowd_target" jdbcType="VARCHAR"/>
            <result property="interestKeywords" column="interest_keywords" jdbcType="VARCHAR"/>
            <result property="keywords" column="keywords" jdbcType="VARCHAR"/>
            <result property="intelligentExpansion" column="intelligent_expansion" jdbcType="TINYINT"/>
            <result property="searchTargetCityIntent" column="search_target_city_intent" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,unit_id,target_gender,
        target_age,target_city,target_device,
        industry_interest_target,crowd_target,interest_keywords,
        keywords,intelligent_expansion,search_target_city_intent
    </sql>
</mapper>
