<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hui.userbackend.mapper.UnitKeywordWithBidMapper">

    <resultMap id="BaseResultMap" type="com.hui.userbackend.model.domain.UnitKeywordWithBid">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="unitId" column="unit_id" jdbcType="BIGINT"/>
            <result property="keyword" column="keyword" jdbcType="VARCHAR"/>
            <result property="bid" column="bid" jdbcType="INTEGER"/>
            <result property="keywordSource" column="keyword_source" jdbcType="INTEGER"/>
            <result property="phraseMatchType" column="phrase_match_type" jdbcType="TINYINT"/>
            <result property="feedBid" column="feed_bid" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,unit_id,keyword,
        bid,keyword_source,phrase_match_type,
        feed_bid
    </sql>
</mapper>
